{% extends 'base.html' %}
{% block title %}Список групп{% endblock %}
{% block content %}
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
      <h1>Список групп</h1>
      <div class="intro">
      </div>
    </div>
  </section>
  <section class="blog-list px-3 py-5 p-md-5">
    <p>Всего групп: {{ page_obj.paginator.count }}</p>
    {% for group in page_obj %}
      <ul>
        <li>
          <a href="{% url 'posts:group_list' group.slug %}">{{ group.title }}</a>
        </li>
      </ul>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </section>
  {% include 'includes/paginator.html' %}
{% endblock %} 